h1 {
    color: blue;
}

.grp {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .pane {
        width: 49%;
        background-color: #f4f4f4;
        img {
            max-width: 100%;
        }
    }
}

.another-img {
    background-image: url(img/cyber.png);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}