// Dev

// @font-face {
//     font-family: 'Proxima Nova Rg';
//     src: url('../../fonts/ProximaNova-Regular.eot');
//     src: url('../../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
//         url('../../fonts/ProximaNova-Regular.woff2') format('woff2'),
//         url('../../fonts/ProximaNova-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Lt';
//     src: url('../../fonts/ProximaNova-Semibold.eot');
//     src: url('../../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
//         url('../../fonts/ProximaNova-Semibold.woff2') format('woff2'),
//         url('../../fonts/ProximaNova-Semibold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Rg';
//     src: url('../../fonts/ProximaNova-Bold.eot');
//     src: url('../../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../../fonts/ProximaNova-Bold.woff2') format('woff2'),
//         url('../../fonts/ProximaNova-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }





// Live


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/documents/12742026/12742141/ProximaNova-Regular.eot');
    src: url('/documents/12742026/12742141/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('/documents/12742026/12742141/ProximaNova-Regular.woff2') format('woff2'),
        url('/documents/12742026/12742141/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('/documents/12742026/12742141/ProximaNova-Semibold.eot');
    src: url('/documents/12742026/12742141/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/documents/12742026/12742141/ProximaNova-Semibold.woff2') format('woff2'),
        url('/documents/12742026/12742141/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/documents/12742026/12742141/ProximaNova-Bold.eot');
    src: url('/documents/12742026/12742141/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('/documents/12742026/12742141/ProximaNova-Bold.woff2') format('woff2'),
        url('/documents/12742026/12742141/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


